<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="COMPort" value="COM3" />
    <add key="COMPortNumber" value="3" />
    <add key="PhoneNumber" value="+44771000000" />
    <add key="ListSMSUrl" value="http://X.com/X/listsms.php" />
    <add key="UpdateSMSUrl" value="http://X.com/X/updatesms.php" />
    <add key="SMSIdParam" value="smsid=" />
    <add key="StatusParam" value="status=" />
    <add key="ApplicationInterval" value="3600000" />
    <add key="SMSInterval" value="60000" />
    <add key="FormVisible" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IncomingSMSUrl" value="http://X.com/X/addsms.php?mobile=" />    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>